.game-card {
    background-color: rgb(100, 100, 100, 0.3)!important;
    color: aliceblue!important;
    border-style: solid;
    border-color: aliceblue;
  }
  

  .game-list {
    row-gap: 1rem;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-text{
    text-justify: auto;
    line-height: 2.5rem;
    width: 90%;
  }

  .game-game-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .gambar{
    height: 90%;
  }
  /* .game-gameList {
    min-height: 100vh!important;
    background:url('../public/background1.jpeg') no-repeat;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    color: aliceblue!important;
  } */
  
  /* .game-game-detail {
    min-height: 100vh;
    background:url('../public/background1.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
  } */